body {
  padding: 10px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif, Symbol;
}

#bodyContainer {
  padding: 5px;
  width: 1000px;
  height: 750px;
  border-radius: 30px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif, Symbol;
  color: rgb(141, 13, 13);
  background-image: linear-gradient(
    to right,
    #e4afcb 0%,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #e2c58b 30%,
    #c2ce9c 64%,
    #7edbdc 100%
  );
}

h1 {
  font-size: 50px;
}
.tempSelect {
  font-size: 20px;
  display: inline-block;
  position: relative;
  top: 0px;
  right: -400px;
}

.anchor-none {
  text-decoration: none;
}

h2 {
  color: #2274c7;
}

h6 {
  font-size: 17px;
  font-weight: bolder;
}

.dateAndTime {
  display: inline-block;
  position: relative;
  top: 20px;
  left: -380px;
  font-size: 17px;
  font-weight: bolder;
}
.searchBoxStyle {
  text-align: center;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
}

.searchButtonStyle {
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
}

.currentButtonStyle {
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
}
.row {
  padding-top: 10px;
}
.card {
  border-radius: 35px 35px;
  background-color: transparent;
}
.card-title {
  color: #fff;
}
