body {
  padding: 10px;
  text-align: center;
}

#bodyContainer {
  padding: 5px;
  width: 1000px;
  height: 740px;
  border-radius: 30px;
  text-align: center;
  font-family: "Oswald";
  font-size: 20px;
  color: #fadcac;
  background-color: #187767;
}

h1 {
  font-size: 50px;
}
.tempSelect {
  font-size: 20px;
  display: inline-block;
  position: relative;
  top: 0px;
  right: -400px;
}

.anchor-none {
  text-decoration: none;
  color: #fadcac;
}

h2 {
  color: #0f1123;
  font-weight: bolder;
}

h6 {
  font-size: 17px;
  font-weight: bolder;
}

.dateAndTime {
  display: inline-block;
  position: relative;
  top: 20px;
  left: -380px;
  font-size: 17px;
  font-weight: bolder;
}
.searchBoxStyle {
  text-align: center;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  border-style: solid;
  background-color: transparent;
  color: #fff;
}

.searchButtonStyle {
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-style: solid;
}

.currentButtonStyle {
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  border-style: solid;
}
.row {
  padding-top: 10px;
}
.card {
  background-color: transparent;
  border: none;
}
.card-title {
  color: #fadcac;
}

.gitHub {
  font-size: large;
}

::-webkit-input-placeholder {
  /* Edge */
  color: white;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::placeholder {
  color: white;
}
